<form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="add-form">
  <div class="form-control">
    <label for="text">Task</label>
    <input
      type="text"
      id="text"
      placeholder="Task name"
      formControlName="text"
    />

    @if (taskForm.get('text')?.invalid && taskForm.get('text')?.touched) {
    <small> Task name is required. </small>
    } @if (taskForm.get('text')?.hasError('minlength') &&
    taskForm.get('text')?.touched) {
    <small> Task must be at least 3 characters. </small>
    }
  </div>

  <div class="form-control">
    <label for="day">Day & Time</label>
    <input
      type="datetime-local"
      id="day"
      placeholder="Day & Time"
      formControlName="day"
    />

    @if (taskForm.get('day')?.hasError('required') &&
    taskForm.get('day')?.touched) {
    <small> Day & Time is required. </small>
    } @if (taskForm.get('day')?.hasError('dateValidator') &&
    taskForm.get('day')?.touched) {
    <small> The date and time cannot be in the past. </small>
    }
  </div>

  <div class="form-control form-control-check">
    <label for="reminder">Reminder</label>
    <input type="checkbox" id="reminder" formControlName="reminder" />
  </div>

  <button type="submit" class="btn btn-block" [disabled]="taskForm.invalid">
    Save Task
  </button>
</form>
