<form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="add-form">
  <div class="form-control">
    <label for="name">Task</label>
    <input
      type="name"
      id="name"
      placeholder="Task name"
      formControlName="name"
    />

    @if (taskForm.get('name')?.hasError('required') &&
    taskForm.get('name')?.touched) {
    <small> Task name is required. </small>
    } @if (taskForm.get('name')?.hasError('minlength') &&
    taskForm.get('name')?.touched) {
    <small> Task must be at least 3 characters. </small>
    }
  </div>

  <div class="form-control">
    <label for="date">Day</label>
    <input type="date" id="date" placeholder="Date" formControlName="date" />

    @if (taskForm.get('date')?.hasError('required') &&
    taskForm.get('date')?.touched) {
    <small> Day & Time is required. </small>
    } @if (taskForm.get('date')?.hasError('dateValidator') &&
    taskForm.get('date')?.touched) {
    <small> The date and time cannot be in the past. </small>
    }
  </div>

  <div class="form-control form-control-check">
    <label for="reminder">Reminder</label>
    <input type="checkbox" id="reminder" formControlName="reminder" />
  </div>

  <button type="submit" class="btn btn-block" [disabled]="taskForm.invalid">
    Save Task
  </button>
</form>
